<div class="display" id="test">

    {{!-- <ul class="display-amiibo">
        <li class="display-name">Name: %name%</li>
        <li class="display-series">Series: %series%</li>
        <img class="display-image" src="%source%" alt="">
    </ul> --}}


</div>