<h1 class="header-title">{{title}}</h1>

<nav class="header-nav">
    <li class="header-nav-link"><a href="/"></a>Home</li>
    <li class="header-nav-link"><a href="/recommended"></a>Recommended Items</li>
</nav>