<h1 class="header-title">{{title}}</h1>

<nav class="header-nav">
    <li class="header-nav-link"><a href="/">Home</a></li>
    <li class="header-nav-link"><a href="/pokemon">Pokemon Amiibo</a></li>
</nav>