<h1 class="header-title" id="title">{{title}}</h1>
<h2 class="header-recommend">Check Out Amiibo from these popular franchises</h2>
<h3 class="home-link"><a href="/">Home</a></h3>
<nav class="header-nav">
    <li class="header-nav-link"><a href="/showcase/Pokemon">Pokemon Amiibo</a></li>
    <li class="header-nav-link"><a href="/showcase/The Legend of Zelda">The Legend of Zelda</a></li>
    <li class="header-nav-link"><a href="/showcase/Super Mario">Super Mario Bros.</a></li>
    <li class="header-nav-link"><a href="/showcase/Fire Emblem">Fire Emblem</a></li>
</nav>